* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    min-height: 100%;
    background-color: #1b2b4c;
    background-image: url('../src/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #121212;
}

.header {
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 10px;
    margin: 0 0 30px;
    padding: 10px;
}

.wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    border-radius: 10px;
    margin-bottom: 30px;
}

.sub-text-header {
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 10px;
    margin: 0;
}

.text {
    margin: 0 0 30px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-area {
    display: block;
    margin: 0 auto 10px;
    padding: 10px 15px;
    border-radius: 8px;
    width: 100%;
    resize: none;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submit-button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 8px;
    width: 100%;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;

}

.sumbit-form {
    padding: 15px;
    margin-top: auto;
    padding-bottom: 15px;
    background-color: #e5e5e5;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.grettings-text {
    margin: 0;
}

.grettings-text-header {
    display: block;
    margin-bottom: 10px;
}

.link {
    font-size: 24px;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    padding-bottom: 15px;
    background-color: #e5e5e5;
    border-radius: 10px;
    color: #121212;

}